* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/steve-johnson--bMWFptgeNY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200vh; /* garante scroll */
}

/* NAV */

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* FOOTER */

.rodape {
    background-color: #7d05b5;
    color: white;
    padding: 40px 20px 20px 20px;
    width: 100%;
}

.conteudo-rodape {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coluna-rodape {
    flex: 1;
    min-width: 220px;
}

.coluna-rodape h3 {
    margin-bottom: 10px;
}

.icones-sociais {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icones-sociais img {
    width: 30px;
    height: 30px;
    background-color: #F3F3F3;
    border-radius: 50%;
    padding: 5px;
    transition: .3s;
}

.icones-sociais img:hover {
    transform: scale(1.2);
    background-color: black;
}

.rodape-inferior {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
